In [3]:
import pandas as pd
from io import StringIO

import sys
sys.path.append('/home/mat/product_injuries_project')

import os 
from minio import Minio
minio_client = Minio(
    endpoint='127.0.0.1:9000',
    access_key=os.getenv('MINIO_ACCESS_KEY'),
    secret_key=os.getenv('MINIO_SECRET_KEY'),
    secure=False
)

In [34]:
response = minio_client.get_object("injuries", "raw/products_mapping.csv")

data = response.data.decode('utf-8')
df = pd.read_csv(StringIO(data), index_col=0)

In [37]:
df.head()

   code                                      product_title
0   116                                    Electric brooms
1   235                              Electric waffle irons
2   236                               Faucet water heaters
3   255                                   Clothes steamers
4   393  Heaters or heating systems, other or not speci...

In [31]:
df = df[df['age'] != 0]
df['treatmentDate'] = pd.to_datetime(df['treatmentDate'])
df = df[df['race'].notna()]

In [32]:
df['race'].value_counts(dropna=False)

race
White              136435
Black               45759
Other               18006
Asian                3868
American Indian       924
Name: count, dtype: int64

In [42]:
response = MINIO_CLIENT.get_object("injuries", "raw/products_mapping.csv")

data = response.data.decode('utf-8')
df_products = pd.read_csv(StringIO(data), index_col=0)

In [43]:
df_products

     code                                      product_title
0     234                 Toasters (excluding toaster ovens)
1     270                                       Ice crushers
2     274                                   Ice cream makers
3     413     Waste containers, trash baskets or refuse bins
4     480  Manual cleaning equipment (excluding buckets o...
..    ...                                                ...
799  3288                         Dune buggies/beach buggies
800  3293             Water slides, not elsewhere classified
801  3294  Water slides, backyard/home (not swimming pool...
802  4009     Nonbaby mattresses (excluding camp mattresses)
803  4063  Panelboards, circuit breakers, ground fault ci...

[804 rows x 2 columns]